@media (max-width:768px) {
    html {
        font-size: 50%;
    }
}

@media (max-width:576px) {
    html {
        font-size: 40%;
    }

    .main {
        padding: 2.4rem 0;
    }
}

@media (max-width:425px) {
    html {
        font-size: 35%;
    }
}